<div class="container">
    <div class="padding">
        <label class="item item-input item-select">
            <div class="input-label font-size-small">
                Tipo de incidencia:
            </div><br>
            <select ng-model="tipoLimpieza" class="border-color-primary font-size-small">
                <option value="0">Limpieza vertical</option>
                <option value="1">Papelera</option>
                <option value="2">Contenedor canino</option>
                <option value="3">Rejilla</option>
            </select>
        </label>
    </div>
    <div class="padding">
        <label class="item item-input item-stacked-label ">
            <span class="input-label font-size-small">Describir Incidencia:</span>
            <textarea ng-model="descripcion " placeholder="Escriba aquí el motivo." 
                class="border-color-primary font-size-small"></textarea>
        </label>
    </div>
    <div class="padding">
        <button class="button button-primary-block icon-left ion-location font-size-small" ng-click="agregarUbicacion()">
        <span>Agregar ubicación</span>
        </button>
    </div>
    <br>
    <div class="button-camera">
        <div class="padding">
            <button class="button button-primary-small icon-left ion-camera font-size-small" ng-click="nuevaFoto()">
            <span>Nueva Foto</span>
            </button>
        </div>
        <div class="padding">
            <button class="button button-primary-small icon-left ion-paperclip font-size-small" ng-click="elegirFoto()">
            <span>Elegir foto</span>
            </button>
        </div>
    </div>
</div>