<ion-view view-title="Login" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar bar-header background-color-primary">
        <button class="button button-icon color-white icon ion-arrow-left-c" ng-click="volverAtras()"></button>
        <h1 class="title color-white font-primary">{{tipoGestion}}</h1>
        <button class="button button-icon color-white icon ion-checkmark" ng-click="agregarIncidencia()"></button>
    </ion-header-bar>

    <ion-content>
        <div ng-show="mostrarInformacion">
            INFORMACION
        </div>
        <div ng-show="mostrarLabores">
            LABORES
        </div>
        <div ng-show="mostrarRuta">
            RUTA
        </div>
        <div ng-show="mostrarRecursos">
            RECURSOS

        </div>
        <div ng-show="mostrarIncidencias">
            <!--VISTA DE INCIDENCIAS-->
            <!--<ng-include src="templateIncidencias"></ng-include>-->
            <div class="container tab-container">
                <div class="padding5">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            <span class="texto-negrita">Tipo Incidencia:</span>
                        </div><br>
                        <select ng-model="incidencia.tipoIncidencia" class="border-color-primary font-select">
                            <option class="font-select-option" value="" selected>Incidencias...</option>
                            <option class="font-select-option" ng-repeat="tipoI in tiposDeIncidencias" ng-value="tipoI.id">{{tipoI.nombre}}</option>
                        </select>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            <span class="texto-negrita">Tipo Servicios:</span>
                        </div><br>
                        <select ng-model="incidencia.tipoServicio" class="border-color-primary font-select" ng-change="elegirTipoServicio()">
                            <option class="font-select-option" value="" selected>Servicios...</option>
                            <option class="font-select-option" ng-repeat="tipoS in tiposDeServicios" ng-value="tipoS.id">
                                {{tipoS.nombre}}</option>
                        </select>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item item-input item-toggle no-border no-padding">
                        <div class="input-label">
                            <span class="texto-negrita">Programación:</span>
                        </div><br>
                        <label class="toggle toggle-primary">
                            <input type="checkbox" ng-model="incidencia.programacion">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </label>
                </div>
                <div class="padding5 move-up-10">
                    <label class="item item-input item-stacked-label ">
                        <span class="input-label texto-negrita">Describir Incidencia:</span>
                        <textarea ng-model="incidencia.descripcion " placeholder="Escriba aquí el motivo." 
                            class="border-color-primary font-size-small"></textarea>
                    </label>
                </div>

                <div class="accordion-container">
                    <button ion-item class="button button-container button-primary icon-right font-size-small accordion-header" ng-click="expandirUbicacion()" ng-class="{active: isUbicacionShown(), 
                                'ion-android-arrow-dropup': isUbicacionShown(), 
                                'ion-android-arrow-dropdown': !isUbicacionShown()}">
                            <i class="icon ion-location icon-button-primary-center"></i>
                            <span>Ubicación</span>
                    </button>
                    <!--ng-show="isUbicacionShown()"-->
                    <ion-item class="item-accordion accordion-body">
                        <div class="padding5">
                            <label class="item item-input item-select">
                                <div class="input-label text-padding5">
                                    <span class="texto-negrita">Barrio:</span>
                                </div>
                                <select ng-model="incidencia.ubicacion.barrio" class="border-color-primary font-select">
                                    <option class="font-select-option" value="" selected>Barrios...</option>
                                    <option class="font-select-option" ng-repeat="barrio in barrios" ng-value="barrio">
                                        {{barrio}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="padding5">
                            <label class="item item-input item-select">
                                <div class="input-label text-padding5">
                                    <span class="texto-negrita">Calle:</span>
                                </div>
                                <select ng-model="incidencia.ubicacion.calle" class="border-color-primary font-select">
                                    <option class="font-select-option" value="" selected>Calles...</option>
                                    <option class="font-select-option" ng-repeat="calle in calles" ng-value="calle">
                                        {{calle}}</option>
                                </select>
                            </label>
                        </div>
                        <!--<div class="padding5">
                            <label class="">
                                <div class="input-label text-padding5">
                                    <span class="texto-negrita">Número:</span>
                                </div>
                                <label>{{data.ubicacion.numero}}</label>
                            </label>
                            <div class="item range range-positive border-range">
                                {{data.ubicacion.numeroMinimo}}
                                <input type="range" name="numero" ng-model="data.ubicacion.numero" min="{{data.ubicacion.numeroMinimo}}" max="{{data.ubicacion.numeroMaximo}}" ng-value="data.ubicacion.numero"> {{data.ubicacion.numeroMaximo}}
                            </div>
                        </div>-->
                        <div class="padding5">
                            <label class="item item-input item-select">
                                <div class="input-label text-padding5">
                                    <span class="texto-negrita">Número:</span>
                                </div>
                                <select ng-model="incidencia.ubicacion.numero" class="border-color-primary font-select">
                                    <option class="font-select-option" value="" selected>Numeros...</option>
                                    <option class="font-select-option" ng-repeat="numero in numeros" ng-value="numero">
                                        {{numero}}</option>
                                </select>
                            </label>
                        </div>
                    </ion-item>
                </div>


                <br>
                <div class="button-camera">

                    <div class="padding">
                        <button class="button button-primary-small font-size-small" ng-click="nuevaFoto()" ng-disabled="noCumpleRequisitosMinimos()">
                            <i class="icon ion-camera icon-button-primary-center"></i>
                            <span>Nueva Foto</span>
                        </button>
                    </div>
                    <div class="padding">
                        <button class="button button-primary-small font-size-small" ng-click="elegirFoto()" ng-disabled="noCumpleRequisitosMinimos()">
                            <i class="icon ion-android-attach icon-button-primary-center"></i>
                            <span>Elegir foto</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-top" id="MenuInferior">
        <a class="tab-item {{informacionTab}} button-tab disabled" ng-click="mostrarPestania('informacion')">
            <i class="icon ion-information-circled"></i> Información
        </a>
        <a class="tab-item {{laborTab}} button-tab disabled" ng-click="mostrarPestania('labores')">
            <i class="icon ion-clipboard"></i> Labores
        </a>
        <a class="tab-item {{rutaTab}} button-tab disabled" ng-click="mostrarPestania('ruta')">
            <i class="icon ion-map"></i> Ruta
        </a>
        <a class="tab-item {{recursoTab}} button-tab disabled" ng-click="mostrarPestania('recursos')">
            <i class="icon ion-settings"></i> Recursos
        </a>
        <a class="tab-item {{incidenciaTab}} button-tab" ng-click="mostrarPestania('incidencias')">
            <i class="icon ion-alert-circled"></i> Incidencias
        </a>
    </div>

</ion-view>